@mixin fontFace($name, $weight, $file) {
    @font-face {
        font-family: $name;
        font-style: normal;
        font-weight: $weight;
        src: url('#{$file}.eot');
        src: url('#{$file}.eot?#iefix') format('embedded-opentype'),
        url('#{$file}.woff2') format('woff2'),
        url('#{$file}.woff') format('woff'),
        url('#{$file}.ttf') format('truetype');
        font-display: swap;
    }
}

// UltraLight (200)
@include fontFace('iranSansfaNum', 200, 'files/iranSans_ultraLight_faNum');
@include fontFace('iranSans', 200, 'files/iranSans_ultraLight');

// Light (300)
@include fontFace('iranSansfaNum', 300, 'files/iranSans_light_faNum');
@include fontFace('iranSans', 300, 'files/iranSans_light');

// Regular (400)
@include fontFace('iranSansfaNum', 400, 'files/iranSans_faNum');
@include fontFace('iranSans', 400, 'files/iranSans');

// Medium (500)
@include fontFace('iranSansfaNum', 500, 'files/iranSans_medium_faNum');
@include fontFace('iranSans', 500, 'files/iranSans_medium');

// Bold (700)
@include fontFace('iranSansfaNum', 700, 'files/iranSans_bold_faNum');
@include fontFace('iranSans', 700, 'files/iranSans_bold');

// Black (900)
@include fontFace('iranSansfaNum', 900, 'files/iranSans_black_faNum');
@include fontFace('iranSans', 900, 'files/iranSans_black');