/*@layer theme, base, components, utilities;*/
/*@import "tailwindcss/theme.css" layer(theme);*/
/*@import "tailwindcss/preflight.css" layer(base);*/
/*@import "tailwindcss/utilities.css" layer(utilities);*/

/*@theme {*/
/*    --color-blue-1000: #892AF6;*/
/*    --color-purple-1000: #a853ba;*/
/*    --color-red-1000: #e92a67;*/
/*}*/

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        @apply appearance-none;
    }
}