body {
  box-sizing : border-box;
}

*::-webkit-scrollbar {
  height : 8px;
  width  : 8px;
}

*::-webkit-scrollbar-track {
  background         : transparent;
  border-radius      : 10px;
  -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius      : 10px;
  -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, .3);
}

*::-webkit-scrollbar-corner {
  background : transparent;
}